* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

.sub-header {
  width: 100%;
  background-color: #483d8b;
  height: 30px;
}

.container {
  margin: auto;
  display: flex;
  max-width: 990px;
  width: 100%;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  width: 12.5rem;
  height: 4.063rem;
  background: #483d8b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.dropdown-menu {
  position: absolute;
  display: none;
}
.dropdown-menu a {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.menu {
  display: flex;
  align-items: end;
}
nav ul,
nav li {
  list-style: none;
  margin-top: 30px;
  margin: 0px;
  padding: 0px;
}
nav ul {
  display: flex;
}
nav li {
  margin-left: 13px;
}
nav a {
  display: block;
  text-decoration: none;
  color: gray;
  padding: 15px;
}

nav ul li a:hover {
  background-color: #483d8b;
  color: white;
}

section {
  margin-top: 100px;
  height: 420px;
  display: flex;
  justify-content: center;
  background: #d3d3d3;
  margin-bottom: 100px;
}

.carrousel {
  overflow: hidden;
  height: 420px;
  width: 900px;
}

.container-carrousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

img {
  object-fit: cover;
  width: 990px;
  height: 420px;
}

.article-section {
  display: flex;
}
.teste-html {
  width: 50%;
  color: gray;
  display: flex;
  flex-direction: column;
}

.imagem-teste {
  width: 50%;
  display: flex;
  align-items: center;
}

h1 {
  color: gray;
}

.conteúdo-imagem {
  margin: auto;
  width: 350px;
  height: 250px;
  background: #483d8b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.card {
  width: 200px;
  height: 200px;
  background: #483d8b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  gap: 20px;
  background: red;
}

a {
  text-decoration: none;
  color: gray;
}

article {
  margin-bottom: 20px;
}

footer {
  margin-top: 100px;
  height: 200px;
  background: #4f4f4f;
}

.menuFooter {
  margin: auto;
  margin-top: 70px;
}

.menuFooter ul {
  list-style: none;
  display: flex;
  gap: 10px;
  color: #c0c0c0;
  cursor: pointer;
  align-items: center;
}

span {
  color: #fff;
  font-weight: 600;
  margin-top: 80px;
  margin-left: 30px;
}

.column {
  flex-direction: column;
}

.container-cards {
  display: flex;
}

.container-slider {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

img {
  box-shadow: 0 1px 2px #0003;
  width: 100%;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .container-cards {
    display: block;
  }
  #lista {
    display: none;
  }
  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sub-header {
    width: 100%;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imagem-teste {
    display: none;
  }
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}
